@model Cakes_and_Pastries_Project.Models.FeedBack

@{
    ViewBag.Title = "FeedBack";
    Layout = "~/Views/Shared/_Customrlayout.cshtml";
}
<head>
    <style>
        body {
            background-image: url('../../CakeImages/bgimage.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FeedBack</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        

        <div class="form-group">
            @Html.LabelFor(model => model.Cake_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cake_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cake_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Rating, "Good")Good
                @Html.RadioButtonFor(model => model.Rating, "Average")Average
                @Html.RadioButtonFor(model => model.Rating, "Bad")Bad
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primar">Submit</button>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
