@model IEnumerable<Cakes_and_Pastries_Project.Models.Ordered_Cake_Details>

@{
    ViewBag.Title = "ViewOrder";
    Layout = "~/Views/Shared/_Customrlayout.cshtml";
}

<head>
    <style>
        body {
            background-image: url('../../CakeImages/bgimage.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cake_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cake_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_of_Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cake_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cake_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_of_Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
